/* let's figure out how to basically have a sidebar on the left in css */


/* #wrapper {
    display: grid;
    grid-template-columns: auto 250px ;
    height: 100%;

}

#main {
    width: auto;
    height: 1000px;
    background-color: green;
}

#sidebar {
    width: 250px;
    height: 1000px;
    background-color: red;
} */